.cp {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    background: #fff;
    border-left: 6px solid #393939;
    border-top: 6px solid #393939;

}
.select {
    padding: 6px;
    background: #393939;
    position: fixed;
    right: 0;
    bottom: 30px;
    display: block;
    padding-right: 0px;
    display: none;
}
.part:hover, .cp:hover {
    cursor: pointer;
}
.select.show {
    display: block;
}
.select > .part {
    width: 24px;
    height: 25px;
    margin-right: 6px;
    display: inline-block;
}
div.menu ul:after {
    background-color: #292929 !important;
    border-radius: 2px !important;
    color: #ccc !important;
    content: "KONDAX DESIGN" !important;
    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    margin-left: 10px !important;
    padding-bottom: 3px !important;
    padding-left: 5px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    text-transform: uppercase !important;
    float: right !important;
}

#container {
    background-color: #222222 !important;
    background-image: none !important;
    border-style: none !important;
}

#panel {
    background-color: #292929 !important;
    border-style: none !important;
    line-height: 20px !important;
    padding: 25px !important;
    font-size: 11px !important;
    border-radius: 0 !important
}

#posts {
    padding: 0px !important;
}

.menu ul a:hover {
    color: #ffffff !important;
}

.pagination a:hover {
    background: none !important;
    border: none !important;
    color: #FFFFFF !important;
}

.shadetabs li a.selected {
    border-style: none !important;
    color: #ffffff !important;
    font-size: 12px !important;
    top: 0 !important;
}

.tborder {
    background: none !important;
    border: none !important;
}

td.tfoot div strong {
    margin: 10px !important;
}
div.quick_keys > table > tbody > tr > td > table > tbody > tr > td {
    border-bottom: none !important;
}
div.quick_keys > table > tbody > tr > td > table > tbody > tr > td {
    padding-right: 15px;
}
div.quick_keys > table > tbody > tr > td > table:first-of-type {
	margin-bottom: 10px;
}
div.quick_keys > table > tbody > tr > td > br {
	display: none;
}
input.button, .button, button, a.bitButton, input.bitButton {
    display: inline-block !important;
    color: #FFF !important;
    background-color: #181818 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-radius: 1px !important;
    text-shadow: 0px 1px rgba(0,0,0,0.5) !important;
    box-shadow: none !important;
    margin-right: 5px;
    border: none !important;
}

input.button:hover, .button:hover, button:hover, a.bitButton:hover, input.bitButton:hover {
    background-color: #000000 !important;
    border: 0px !important;
}

input.button:active, .button:active, button:active, a.bitButton:active, input.bitButton:active {
    background-color: #000000 !important;
    border: 0px !important;
}

td[bgcolor="red"]{
    border-radius: 6px 0px 0px 6px !important;
    background-color: #bb3131 !important;
    -moz-border-radius: 6px 0px 0px 6px !important;
    -webkit-border-radius: 6px 0px 0px 6px !important;
    color: #FFF !important;
}

td[bgcolor="green"]{
    border-radius: 0px 6px 6px 0px !important;
    background-color: #31bb4b !important;
    -moz-border-radius: 0px 6px 6px 0px !important;
    -webkit-border-radius: 0px 6px 6px 0px !important;
    color: #FFF !important;
}

a.navButton :hover {
    color: #666d78 !important;
}

a.navButton hover {
    color: #666d78 !important;
}

a.pagination_first {
    border: 1px #252525 !important;
    border-radius: 5px !important;
    color: #FFF !important;
    background-color: #252525 !important;
}

a.pagination_last {
    border: 1px #252525 !important;
    border-radius: 5px !important;
    color: #888 !important;
    background-color: #252525 !important;
}

a.pagination_next {
    border: 1px #252525 !important;
    border-radius: 5px !important;
    color: #FFF !important;
    background-color: #252525 !important;
}

a.pagination_page {
    border: 1px #252525 !important;
    border-radius: 5px !important;
    color: #888 !important;
    background-color: #252525 !important;
}

a.pagination_previous {
    border: 1px #252525 !important;
    border-radius: 5px !important;
    color: #FFF !important;
    background-color: #252525 !important;
}

a.quick_jump {
    display: none !important;
}

div strong a {
    font-weight: normal !important;
}

div.bottommenu {
    background-color: #292929 !important;
    border-style: none !important;
    padding: 10px !important;
}

div.float_left.smalltext {
    color: #b3b3b3 !important;
}

div.largetext {
    display: none !important;
    font-size: 25px !important;
    margin-left: 3px !important;
    margin-top: 55px !important;
    padding: 20px !important;
}

div.logo a img {
    background: none !important;
    display: none !important;
}

div.logo {
    padding-top: 30px;
}

div.logo a:hover {
    text-transform: none !important;
}

/*div.logo a:before {
    content: "HackForums";
    font-size: 90px;
    letter-spacing: 10px;
    font-family: fantasy;
}*/

div.menu {
    margin-bottom: 20px;	
}
#content > br:first-of-type {
    display: none;
}
div.menu ul {
    background: none !important;
    background-color: #292929 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    height: 0px !important;
    margin-top: 0 !important;
    padding-bottom: 45px !important;
    padding-left: 20px !important;
    padding-top: 30px !important;
    text-align: left !important;
    border-radius: 0 !important;
}

div.menu ul a {
    color: #8a8a8a !important;
}

div.menu ul a.hover {
    color: #ff00ff !important;
}

div.menu ul.hover {
    color: #ff00ff !important;
}

div.navigation a.active {
    color: #ffffff !important;
}

div.pagination {
    font-weight: normal !important;
    margin-bottom: 20px !important;
    font-size: 11px !important;
}
div.navigation a {
    color: #cfcfcf !important;
}
div.pm_alert {
	font-size: 11px !important;
    background-color: #202020 !important;
    border-bottom: 1px solid #61a859 !important;
    border-radius: 0 !important;
    border-top: 1px solid #61a859 !important;
    margin-top: 20px !important;
    padding: 10px !important;
}

div.post_body {
    color: #cfcfcf !important;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

div.author.smalltext a {
    color: #969696 !important;
}

img.expander {
    display: none !important;
}

div.post_body blockquote {
    background-color: #555 !important;
    border-color: #353535 !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: #f0f0f0 !important;
    margin-bottom: 5px !important;
    padding: 10px !important;
}

div.post_body blockquote cite {
    border-color: #5f6d80 !important;
    border-style: solid !important;
    border-width: 0 !important;
    color: #ffffff !important;
    font-weight: normal !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
}

div.smalltext ul li {
    list-style: square !important;
    margin-left: -6px !important;
}

html body {
    background: none !important;
    background-color: #222222 !important;
}

img.subforumicon.ajax_mark_read {
    display: none !important;
}

span.active {
    font-size: 12px !important;
    color: #FFFFFF !important;
}

span.group0 {
    font-weight: bold !important;
}

span.group9 {
    color: #7adb6f !important;
}

span.pages {
    font-weight: normal !important;
    margin-right: 20px !important;
}

div.menu ul li a {
    font-size: 12px !important;
    text-shadow: none !important;
    font-weight: normal !important;
}

div.menu ul li a:Hover {
    color: #FFF !important;
    background: none !important;
    border: none !important;
}

span.pagination_current {
    background: none !important;
    border: none !important;
    color: #ffffff !important;
    font-weight: bold;
}

span.smalltext a {
    color: #ffffff !important;
}

span.smalltext strong {
    font-weight: normal !important;
}

table {
    border: none !important;
    border-collapse: none !important;
    border-color: none !important;
    border-spacing: none !important;
    padding: 0 !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

table.tborder {
    border-spacing: 0px !important;
    border-style: none !important;
}

tborder {
    padding: 0 !important;
}

td.smalltext.post_author_info {
    line-height: 16px !important;
}

td.tfoot {
    background-color: #292929 !important;
    background-image: none !important;
    border-radius: 0px !important;
    padding: 10px !important;
}

td.tfoot form {
    background-color: #292929 !important;
    background-image: none !important;
}

td.tfoot form select {
    border: none !important;
    color: #606060 !important;
    font-weight: normal !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding: 3px !important;
}

td.trow {
    border-style: none !important;
    padding: 10px !important;
}

td.trow1:hover {
    background: #333 !important;
}

td.trow1 strong a {
    color: #ffffff !important;
    font-weight: bold !important;
}

td.trow1.post_buttons {
    border-bottom: none !important;
    border-radius: 0px !important;
    border-top: 1px solid #262626 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

td.trow2 strong a {
    font-weight: bold !important;
}

td.trow2.post_content {
    border: none !important;
}
td.trow2:hover {
    background: #333333 !important;
}
td.trow2.post_content hr {
    background-color: #262626 ;
    border: none ;
    margin-bottom: 20px ;
    margin-top: 20px ;
    width: 25% ;
}

tr {
    padding: 10px ;
}

ul.shadetabs li a:hover {
    color: #ffffff !important;
}

#panel strong {
    font-weight: normal ;
}

#panel strong a {
    font-weight: bold ;
}

td.trow_sep {
    border-bottom: 1px solid #262626;
    background-color: #292929;
    padding: 10px;
	font-weight: normal;
    font-size: 11px;
}

div.navigation a {
    color: #696969;
}

td.thead div strong {
    display: inline-block !important;
    color: #ffffff !important;
    font-weight: normal !important;
    font-size: 12px !important;
}

td.thead div {
    display: inline-block; !important
}

span.smalltext.float_right {
    display: none !important;
}

span.button a:Hover {
    color: #fff !important;
}

div.smalltext {
    line-height: 20px !important;
    font-size: 11px !important;
}

td.trow2 {
    background-color: #333333 !important;
    border-bottom: 1px solid #262626 !important;
    border-radius: 0px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 15px !important;
    font-size: 12px !important;
}

span.smalltext a strong {
    font-weight: bold !important;
    font-size: 11px !important;
}

td.trow1 {
    border-bottom: 1px solid #262626 !important;
    border-radius: 0px !important;
    padding: 15px !important;
    font-size: 12px !important;
}

span.group29 {
    color: #389aff !important;
    text-shadow: none !important;
}

span.group3 {
    color: #bf50ff !important;
    text-shadow: 1px 1px #000000 !important;
}

img[src="http://x.hackforums.net/images/modern_bl/starstaff.png"] {
    content:url(http://i.imgur.com/2dS5exk.png) !important;
    filter: hue-rotate(15deg) !important;
}

span.group6 {
    color: #ff3eab !important;
    text-shadow: 1px 1px #000000 !important;
}

img[src="http://x.hackforums.net/images/modern_bl/staradmin.png"] {
    -webkit-filter: hue-rotate(35deg) !important;
    filter: hue-rotate(35deg);

}

img[src="http://x.hackforums.net/images/modern_bl/groupimages/english/admin-bar.png"] {
    -webkit-filter: hue-rotate(35deg) !important;
    filter: hue-rotate(35deg);
}

img[src="http://x.hackforums.net/images/modern_bl/add_buddy.gif"] {
    content:url(http://i.imgur.com/c0BSPEA.png) !important;
}

img[src="http://x.hackforums.net/images/modern_bl/add_ignore.gif"] {
    content:url(http://i.imgur.com/iF93kyL.png) !important;
}

td.thead strong {
    color: #ffffff !important;
    margin: 5px !important;
    font-size: 12px !important;
}

td.tcat {
    background-color: #393939 !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0px !important;
    border-style: none !important;
    color: #ffffff !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 10px !important;
    padding-left: 11px !important;
    padding-bottom: 10px !important;
}

td.thead {
    background-color: #292929 !important;
    background-image: none !important;
    border-radius: 0px !important;
    border-style: none !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 6px !important;
}

td.trow2 strong a:hover {
    color: #ffffff !important;
}

a:hover {
    color: #ffffff !important;
}

span.smalltext {
    font-size: 11px !important;
}

div.navigation{
    font-size: 12px !important;
    color: #cfcfcf !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

div.navigation a {
    color: #cfcfcf !important;
    font-weight: normal;
}

div.navigation a:hover {
    color: #eee !important;
}

ul.shadetabs li a {
    background: none !important;
    border: none !important;
    border-style: none !important;
    box-shadow: none !important;
    font-size: 12px !important;
    font-weight: normal !important;
    margin: 5px !important;
    color: #7a7a7a !important;
    text-shadow: none !important;
}

a.selected {
    border-style: none !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-shadow: none !important;
    top: 0px !important;
}

ul.shadetabs {
    margin: 0 !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
    background-color: #202020 !important;
}

a.usercp_nav_item {
    font-size: 11px !important;
}

div.float_right a {
    font-size: 11px !important;
}

a.popup_item {
    background: #505050 !important;
    border: none !important;
    color: #FFF !important;
}

a.popup_item:hover {
    background: #656565 !important;
    border: none !important;
    color: #FFF !important;
}

div.popup_menu {
    background: #555555 !important;
    border: none !important;
}
